@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 249 250;
    --foreground: 15 23 42;
    --card: 255 255 255;
    --card-foreground: 15 23 42;
    --popover: 240 249 250;
    --popover-foreground: 15 23 42;
    --primary: 16 163 142;
    --primary-foreground: 255 255 255;
    --secondary: 230 238 246;
    --secondary-foreground: 15 23 42;
    --muted: 241 245 249;
    --muted-foreground: 68 64 60;
    --accent: 230 238 246;
    --accent-foreground: 255 255 255;
    --destructive: 220 38 38;
    --destructive-foreground: 255 255 255;
    --border: 214 217 220;
    --input: 214 217 220;
    --ring: 215 180 179;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
